.hero-unit
  %h1= @trip.name
  %br/
  %p= @trip.description

%div.center= "(#{@trip.date_span})"
%div= @trip.price_display

= form_for Purchase.new, :html => {:class => "form-horizontal"} do |f|
  = hidden_field_tag("purchase[purchasable_id]", @trip.id)
  %fieldset
    %h2 Hotel Options
    = bootstrap_control(f, :length_of_stay) do 
      = f.select :length_of_stay, options_for_select(@trip.length_array)
    = bootstrap_control(f, :lodging) do
      = f.select :lodging, options_for_select(@trip.hotel_options), :prompt => true
    = bootstrap_control(f, :extras) do 
      != bootstrap_checkboxes("purchase[extras][]", @trip.present_extras)
    = submit_tag "Order", :class => "btn btn-primary"